.padding-top-10{
    padding-top: 10px;
}
@media (max-width: 768px){
    .input-group{
        margin-bottom: 5px;
    }
}

.brand
{
    max-height: 25px;
    max-width: 25px;
}

body {
    padding-top: 60px;
}

html {
    overflow-y: -moz-scrollbars-horizontal;
    overflow-y: scroll;
}

.background{
    width: 1280px;
    height: 720px;
}
